@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1,
h3,
h4,
h5,
h6 {
	font-family: outfit-c;
}

:root {
	--color-green: #6fb316;
	--color-black: #273035;
	--color-white: #fafafa;
	--font: "Roboto", sans-serif;
	--index: calc(1vw + 1vh);
	--gap: calc(var(--index) * 4.5);
	--gallery-gap: calc(var(--index) * 7.5)
}
a {
	text-decoration: none;
	color: var(--color-white);
}

a:link {
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}

::-webkit-scrollbar {
  width: 10px !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-green);  
}

//will change
.main__title,.header__logo,.tarif__left,.tarif__right{
	will-change: transform;
}


body {
	font-family: var(--font);
	background-image: url("../img/bg.jpg");
	background-size: rem(50);
	color: var(--color-white);
	overflow-x: hidden;
}
.main__header {
	height: 100vh;
}
.container {
	padding: 0 10vw;
}




//header
.head__nav{
	position: sticky;
	top:0;
}
.head__nav-list {
	display: flex;
	justify-content: center;
	gap: rem(30);
	padding: rem(20);
}
.head__nav-link {
	text-decoration: none;
	color: var(--color-white);
}
.header__logo {
	width: calc(var(--index) * 25);
	position: absolute;
	right: 10vw;
	top: 10vh;
	z-index: -1;
}
.main__title {
	font-size: calc(var(--index) * 4);
	position: absolute;
	width: min-content;
	top: 30vh;
}
.green-letter{
	color: var(--color-green);
}


//gallery
.gallery {
	font-family: var(--font);
	
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: calc(var(--gallery-gap)* 1);
	max-height: 180vh;
	border-radius: 8px;
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap) ;
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
	font-size: rem(28);
}
.text-block__p {
	line-height: 1.75;
	font-size: rem(20);
}
.p-1{
	margin-bottom: var(--gallery-gap);
}





//tarif

.tarif {
	display: flex;
	padding: calc(var(--index) * 5) 0;
}
.tarif > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.tarif__sale-block{
	margin-top: calc(var(--gap) * 2);
	max-width: calc(var(--index) * 55 - 5%);	
	background-color: #191919;
	padding: rem(10);
	border-radius: rem(10);
}
.tarif__sale-block-main{
	background-position: center;
	height: rem(300);	;
	background-image: url("../img/4000x455_XS09.webp");
	background-size: cover;
	border-radius: rem(5);
}
.sale-block-main-text{
	position: absolute;
	top: 5vh;
	left: 3vw;
	max-width: calc(var(--index) * 15 - 5%);
	padding: rem(10);
	margin: rem(10);
	background-color: var(--color-black);
	border-radius: rem(5);
}
.text-block{
	margin-bottom: rem(15);
}
.connect-btn{
	font-size: rem(20);
	padding: rem(10);
	border-radius: rem(5);
	color: var(--color-white);
	background-color: var(--color-green);
}



.tarif__left {
	margin-top: calc(var(--gap) * 1);
	border-right: 1px solid var(--color-green);
}
.tarif__title{
	font-size: rem(20);
	margin-bottom: calc(var(--gap) * 0.4);
}
.tarif-block {
	max-width: calc(var(--index) * 25 - 5%);	
	margin-bottom: var(--gap);
	background-color: #191919;
	padding: rem(20);
	border-radius: rem(10);
}
.tarif-block-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: rem(20);
}
.tarif-block-header-title {
	font-size: rem(20);
	color: var(--color-green);
}
.tarif-logo {
	width: rem(60);
}
.tarif-block-main-wrap {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.tarif-block-footer {
	padding: rem(10) 0;
}
.tarif-block-footer-wrap {
	display: flex;
	justify-content: end;
}
